@use '../../../common/styles/_colors';

.course-card-container {
  display: flex;
  flex-direction: column;
  padding: 1.4em 2em;
  background-color: colors.$paper-primary;
  gap: 1em;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;

  h1 {
    width: 100%;
    margin: 0;
  }

  .colored-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: colors.$text-primary;
    border-radius: 5px 0 0 5px;
  }
}

.course-card-content {
  display: flex;
  flex-direction: row;
  gap: 1em;

  p {
    margin: 0;
  }

  dl {
    display: flex;
    gap: .2em;
    margin: 0;
  }

  dt:first-child {
    font-weight: bold;
  }

  dd,
  dt {
    display: inline;
  }

  #author-list {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.course-card-content>div:first-child {
  width: 65%;
}

.course-card-content>div:last-child {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    gap: .4em;
  }
}
