form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 5em;
}

.user-form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
